body {
  min-height: 100vh;
}

.user-profile .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile .content {
  padding: 20px 0;
}

.user-profile .content .profile_img_wrapper img{
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--theme-color);
}

.user-profile .content .username {
  padding: 20px 0 5px;
  color: var(--theme-color);
  font-size: 30px;
  font-weight: bold;
}

.user-profile .content .user-email {
  color: var(--text-second-color)
}

.separator {
  height: 1.5px;
  background-color: var(--text-second-color);
  margin: 3px;
}


.user_info_details .content {
  padding: 20px 0;
}

.user_info_details .content > div {
  display: flex;
  padding:10px 0;
  justify-content: space-around;
}

.user_info_details .content > div .user-info{
  color: var(--theme-color);
}

.user_info_details .content > div >div {
  flex: 1
}

.user_info_details .content > div >div:first-child {
  font-weight: 600;
}